aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.2.0
apispec==5.2.2
apispec-webframeworks==0.5.2
arrow==1.3.0
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
beautifulsoup4==4.12.3
bidict==0.22.1
binaryornot==0.4.4
blinker==1.7.0
bs4==0.0.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpickle==3.0.0
configobj==5.0.8
configparser==6.0.0
constantly==23.10.4
cookiecutter==2.1.1
dask==2024.1.0
dataclasses-json==0.6.3
deepdiff==6.2.3
distributed==2024.1.0
distro==1.9.0
dnspython==2.5.0
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.0
faiss-cpu==1.7.4
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.0.1
Flask-Cors==4.0.0
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
frontend==0.0.3
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
gitignore_parser==0.1.11
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
hyperlink==21.0.0
idna==3.6
importlib-metadata==7.0.1
incremental==22.10.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
jinja2-time==0.2.0
jsonpatch==1.33
jsonpointer==2.4
kthread==0.2.3
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.13
langchain-openai==0.0.3
langsmith==0.0.83
locket==1.0.0
looseversion==1.3.0
lxml==5.1.0
Mako==1.3.0
Markdown==3.5.2
MarkupSafe==2.1.4
marshmallow==3.20.2
marshmallow-sqlalchemy==0.28.1
modin==0.26.1
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
networkx==2.8.8
nibabel==5.2.0
nipype==1.8.6
numpy==1.26.3
openai==1.9.0
openpyxl==3.1.2
ordered-set==4.1.0
orjson==3.9.12
packaging==23.2
pandas==2.1.4
partd==1.4.1
passlib==1.7.4
pathlib==1.0.1
prov==2.0.0
psutil==5.9.8
pyarrow==10.0.1
pydantic==2.5.3
pydantic_core==2.14.6
pydot==2.0.0
pymongo==4.6.1
PyMuPDF==1.23.16
PyMuPDFb==1.23.9
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.2
python-slugify==8.0.1
python-socketio==5.11.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.6
PyYAML==6.0.1
rdflib==7.0.0
regex==2023.12.25
requests==2.31.0
scipy==1.12.0
simple-websocket==0.10.1
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
starlette==0.35.1
taipy==3.0.0
taipy-config==3.0.0
taipy-core==3.0.0
taipy-gui==3.0.0
taipy-rest==3.0.0
taipy-templates==3.0.0
tblib==3.0.0
tenacity==8.2.3
text-unidecode==1.3
tiktoken==0.5.2
toml==0.10.2
toolz==0.12.0
tornado==6.4
tqdm==4.66.1
traits==6.3.2
Twisted==23.10.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==4.3.1
urllib3==2.1.0
uvicorn==0.26.0
Werkzeug==3.0.1
wsproto==1.2.0
yarl==1.9.4
zict==3.0.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
